//mixins
@mixin sm {
  @media (width <=768px) {
    @content;
  }
}

@mixin xl {
  @media (width <=1200px) {
    @content;
  }
}

//vars
$white: #fff;
$shadow: lightgray;
$black: black;
$gray: #798595;
$red: red;
$btn2-bg: #3CB9A0;
$btn1-bg: #E6F7F5;
$btn1-border: #AACEDB;

//style
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-display: swap;
  font-optical-sizing: auto;
  font-weight: 400;
  box-sizing: border-box;
  color: $black;
}